# Core functionality - changes here should be rare!
/src/app.py                   @paulrapp
/src/backend/database.py      @paulrapp
/src/backend/routers/auth.py  @paulrapp

# The frontend will need refactored soon to be more object oriented.
/src/static/   @paulrapp
